.row {
  margin: 5px 0;
}

.nuage,
.nuagePetit,
.pluie,
.soleil,
.orage {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nuage {
  background-image: url('../img/nuage.svg');
}

.nuagePetit {
  background-image: url('../img/nuagePetit.svg');
}

.pluie {
  background-image: url('../img/pluie.svg');
}

.soleil {
  background-image: url('../img/soleil.svg');
}

.orage {
  background-image: url('../img/orage.svg');
}

h1, p, #now .row .nuage {
  margin: 5px;
}

/* ----- PARTIE HAUT ----- */

#now strong {
  font-size: 30px;
}

#now p:nth-of-type(1) {
  margin-top: 6px;
}

/* ----- PARTIE BAS ----- */

#semaine p {
  margin-top: 7px;
}

#semaine > .row div:nth-of-type(1),
#semaine > .row div:nth-of-type(4) {
  margin-top: 12px;
}

@media screen and (min-width: 900px) {
  /* J'ai préférer garder le premier hr visible */
  hr:not(#separation) {
    display: none;
  }

  div.row.col-md-1 {
    width: calc(100% / 7);
  }

  div.row.col-md-1 > div {
    float: none;
    margin: auto;
  }

  #semaine > .row > div:nth-of-type(1) {
    width: 100%;
    text-align: center;
  }

  #semaine > .row > div:nth-of-type(3) {
    text-align: center;
  }
}