#imgTitre {
  height: 100%;
}

#menu > div {
  height: 20px;
  border: 2px solid black;
  border-radius: 20%;
}

.imgArticle {
  width: calc(100%/12);
  float: left;
  margin: 10px 10px 0 0;
}

.article {
  background-color: gray;
  padding: 20px;
  text-align: justify;
  margin-bottom: 20px;
  border-radius: 10%;
}