* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightskyblue;
  display: none;
}

footer {
  display: none;
}

header, footer {
  padding: 50px 0;
  text-align: center;
}

@media screen and (min-width: 800px) {
  header {
    display: block;
  }
}

@media print {
  header {
    display: block;
  }
  footer {
    display: block;
  }
}